{% load static %}

{% include 'ajax/modal.html' %}

<link rel="stylesheet" href="{% static 'css/item_card.css' %}"/>
{% if data %}
    {% for item in data %}
        <div class="col-lg-4 col-md-6 pt-2">
            <div class="card item-card d-flex flex-column align-items-center" onclick='viewCustomItem("{{ item.model_id }}",{{ item.id }});'>
              <div class="item-card-img d-flex justify-content-center"> <img class="rounded" src="/media/{{ item.image }}" alt="image"> </div>
              <div class="card-content">
                  <div class="card-title text-danger"><strong>{{ item.title }}</strong></div>		
              </div>
            </div>
        </div>
    {% endfor %}    
{% endif %}

