<style>
.card {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    padding: 10px;
	background: #fff;
    
    width:100%;
    border-radius: 6px;
	text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    word-break: break-word;
}
.card:hover {
    box-shadow: 2px 2px 15px #fd9a6ce5;
    transform: scale(1.02);
}
.card .text-muted {
    font-size: 0.82rem;
}
.card .card-content {
/*	height: 150px;*/
    padding-top: 5px;
	width: 100%;
	position: relative;
}
.card .card-img {
    height: 240px;
    width: 100%;
    position: relative;
}
.card-img img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 23px;
    color: #FF0000;
}
.tags-container {
    position: relative;
    width: 100%;
}
.tags-container span {
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
{% for game in data %}
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card d-flex flex-column align-items-center" onclick='viewGameItem({{ game.id }});'">
            <span class="wish-icon"><i class="fa fa-heart"></i></span>
            <div class="card-img d-flex justify-content-center"> <img class="rounded" src="/media/{{ game.image }}" alt="image"> </div>
            <div class="card-content ">
                <div class="text-danger"><strong>{{ game.title }}</strong></div>		
                <div class="text-danger">{{ game.avg_rating }}<small class="text-muted"> ({{ game.n_ratings }})</small></div>		
                <div class="tags-container">
                    {% for genre in game.genre_list|slice:"0:3" %}
                        <span>{{ genre.title }}</span>
                    {% endfor %}
                </div>
            </div>
            {% comment %} <div class="card-body pt-4">
                <div class="d-flex align-items-center price">
                <div class="del mr-2"><span class="text-dark">5500 uah</span></div>
                <div class="font-weight-bold">4500 uah</div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endfor %}   