{% load static %}

{% include 'ajax/modal.html' %}

<link rel="stylesheet" href="{% static 'css/item_card.css' %}"/>
{% for game in data %}
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card item-card d-flex flex-column align-items-center">
            <span class="wish-icon">
                {% if game.is_favorited %}
                    <i class="fa fa-heart" value="{{ game.id }}"></i>
                {% else %}
                    <i class="fa fa-heart-o" value="{{ game.id }}"></i>
                {% endif %}
            </span>
            <div class="item-card-img d-flex justify-content-center"><a href="/view/game/{{ game.id }}"><img class="rounded" src="/media/{{ game.image }}" alt="image"></a></div>
            <div class="card-content">
                <div class="card-title"><a class="text-decoration-none text-danger" href="/view/game/{{ game.id }}"><strong>{{ game.title }}</strong></a></div>		
                <div class="text-danger">{{ game.avg_rating }}<small class="text-muted"> ({{ game.n_ratings }})</small></div>		
                <div class="tags-container">
                    {% for genre in game.genre_list|slice:"0:3" %}
                        <span onclick='viewCustomItem({{ genre.model_id }},{{ genre.id }});' style="cursor: pointer;">{{ genre.title }}</span>
                    {% endfor %}
                </div>
            </div>
            {% comment %} <div class="card-body pt-4">
                <div class="d-flex align-items-center price">
                <div class="del mr-2"><span class="text-dark">5500 uah</span></div>
                <div class="font-weight-bold">4500 uah</div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
{% endfor %}

{% if is_authenticated %}
<script type="text/javascript">
$('.wish-icon i').on("click", function() {
    id = $(this).attr('value')
    if ($(this).hasClass("fa-heart")) {
        try {
            $.ajax({
                url: '/p-list/wishlist/remove?game='+id,
                success:function(res) {
                    console.log(res);
                    
                }
            });
        }
        catch(err) {
            console.log(err);
            return;
        }
    } else {
        try {
            $.ajax({
                url: '/p-list/wishlist/add?game='+id,
                success:function(res) {
                    console.log(res);
                    
                }
            });
        }
        catch(err) {
            console.log(err);
            return;
        }
    }
    $(this).toggleClass('fa-heart fa-heart-o');
})
</script>
{% endif %}