<style>
.review-card {
    cursor: default;
    background: #fff;
    width:100%;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    word-break: break-word;
}
.review-card:hover {
    box-shadow: 2px 2px 15px #fd9a6ce5;
}
.review-card .text-muted {
    font-size: 0.82rem;
}
.review-card .card-content {
    padding-top: 5px;
    width: 100%;
    position: relative;
}

.tags-container {
    width: 100%;
}
.tags-container span {
    border: 2px solid black;
    border-radius: 4px;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px;
}

.review-game-meta {
    border-left: 3px solid #F57C00;
    padding-left: 3px;
}
.review-game-title {
    font-family: Vollkorn, serif;
    font-size: 1.3rem;
}
.review-game-img {
    width: 120px;
    height: 120px;
}
.star-rating {
    text-shadow: 1px 0px 3px black;
    margin: 0;
    padding: 0;
}

.star-rating li {
/*    cursor: pointer;*/
    display: inline-block;
    list-style-type: none;
    color: #E40046;
}

.star-rating > .star.selected ~ .star {
    color: #818387;
}


{% comment %} .star-rating:hover .star,
.star-rating.vote-cast .star {
  color: #E40046;
} 
.star-rating:not(:hover) > .star.selected ~ .star,
.star-rating > .star:hover ~ .star {
    color: #818387;  
}{% endcomment %}


.review-text {
    font-size: 14px;
    line-height: 1.5;
}
  
.review-text p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.review-text p.collapsing {
    min-height: 42px !important;
}

.review-text a.collapsed:after  {
    content: '+ Read More';
}
  
.review-text a:not(.collapsed):after {
    content: '- Read Less';
}

</style>

{% include 'ajax/modal.html' %}

{% for rating in data %}
<div class="card review-card text-start mb-3 w-100">
    <div class="card-header review-header d-flex justify-content-start flex-wrap p-3">
        <div class="text-center d-block"><a href="/view/game/{{ rating.game_detail.id }}"><img class="review-game-img img-fluid img-thumbnail" src="/media/{{ rating.game_detail.image }}"/></a></div>
        <div class="px-3 py-2">
            <h6 class="card-title review-game-title">
                <a class="text-decoration-none text-danger" href="/view/game/{{ rating.game_detail.id }}"><strong>{{ rating.game_detail.title }}</strong></a>
            </h6>
            <div class="review-game-meta">
                <strong>Genre:</strong>
                <span class="tags-container fst-normal">
                    {% for genre in rating.game_detail.genre_list %}
                        <span onclick='viewCustomItem({{ genre.model_id }},{{ genre.id }});' style="cursor: pointer;">{{ genre.title }}</span>
                    {% endfor %}
                </span>
            </div>
            <div class="review-game-meta text-nowrap">
                <strong>Rating: </strong><span class="text-danger">{{ rating.game_detail.avg_rating }}<small class="text-muted"> ({{ rating.game_detail.n_ratings }})</small></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="fw-bold align-self-end">{{ rating.review_title }}</h5>
                <div class="fs-5 lh-sm mb-2">
                    <ul class="star-rating d-inline-flex">
                        <li class="star" value="0">&nbsp;</li>
                        {% for star in " "|ljust:5 %}
                            {% if forloop.counter == rating.review_rating %}
                                <li class="star selected"><i class="fa fa-star"></i></li>
                            {% else %}
                                <li class="star"><i class="fa fa-star"></i></li>
                            {% endif %}
                        {% endfor %}
                        {% comment %} <li class="star" value="1"><i class="fa fa-star"></i></li>
                        <li class="star" value="2"><i class="fa fa-star"></i></li>
                        <li class="star" value="3"><i class="fa fa-star"></i></li>
                        <li class="star" value="4"><i class="fa fa-star"></i></li>
                        <li class="star" value="5"><i class="fa fa-star"></i></li> {% endcomment %}
                        <li class="star" value="5">&nbsp;</li>
                    </ul>
                </div>
            </div>
            {% if rating.username %}
            <div class="fs-6 lh-1" style="height:40px;">
                by <span class="fw-bold text-primary"><a class="text-decoration-none" href="/profile/{{ rating.username }}">{{ rating.username }}</a></span>
                <a href="/profile/{{ rating.username }}"><img class="img-fluid rounded h-100" alt="Profile photo" src="/media/{{ rating.pfp }}"></a> 
            </div>
            {% endif %}
        </div>   
        
        <div class="review-text">
            {% if rating.review_text|length >= 250 %}
            <p class="collapse" id="reviewCollapse">
                {{ rating.review_text }}
            </p>
            <a class="collapsed" data-toggle="collapse" href="#reviewCollapse" aria-expanded="false" aria-controls="reviewCollapse"></a>
            {% else %}
            <p>
                {{ rating.review_text }}
            </p>
            {%endif%}
        </div>
    </div>
</div>
{% endfor %}
{% comment %} <script type="text/javascript">
$('.star-rating li').on('click', function() {
    var selectedCssClass = 'selected';
    var $this = $(this);
    $this.siblings('.' + selectedCssClass).removeClass(selectedCssClass);
    $this.addClass(selectedCssClass).parent().addClass('vote-cast');
});
</script> {% endcomment %}