.focused{
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}

.errorlist li{
	color: red;
}
.bannercss {
    float: left;
    width: 500px;
    height: 500px;
    object-fit: cover;
}