{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}"/>

<main class="d-flex justify-content-center my-5">
	<section class="wrapper  my-5 border-bottom px-5">
		<div class="heading mt-5 pb-1">
			<h1 class="text text-large border-bottom">Change password</h1>
			<p class="text text-normal mt-2">Don't have one? <span>
				<a href="{% url 'signup' %}" class="text text-links">Create an account</a>
			</span>
			</p>
		</div>
		<form name="signin" class="form" method="post">

			{% csrf_token %}
			{% comment %} {{form.as_table}} {% endcomment %}
			{% for field in form %}
				<div class="d-flex justify-content-between mb-3">
					<label class="input-label" for="{{ field.auto_id }}">{{ field.label }}</label>
					{{field}}
				</div>
				{% if field.errors %}
				{% for error in field.errors %}
					<div class="alert alert-danger mb-3">
					<strong>{{error}}</strong>
					</div>
				{% endfor %}
				{% endif %} 
    		{% endfor %}

			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
			<strong>{{error}}</strong>
			</div>
			{% endfor %}
			{% endif %} 

			<div class="d-flex justify-content-end mb-5">
				<input type="submit" value="Reset" class="input-submit btn btn-primary"/>
			</div>
		</form>
	</section>
</main>
{% endblock %}