.focused{
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}

.errorlist li{
	color: red;
}

.bannercss {
	display: block;
	max-width:1980px;
	min-width: 1980px;
	max-height:800px;
	min-height: 800px;
	width: auto;
	height: auto;
}