#header {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 15px #e8e8e8;
  vertical-align: middle;
}

/*page header*/
button.btn.btn-hide {
  height: inherit;
  background-color: #ff935d;
  color: #fff;
  font-size: 0.82rem;
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn:focus {
  box-shadow: none;
}
.pagination .page-item .page-link {
  color: #333;
  border: none;
  width: 40px;
  text-align: center;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  border: 1px solid #333;
}
#sort,#n_per {
  width: 130px;
}
#sort,#n_per,#datepicker input,.select2-filter,.form-control {
  outline: none;
  padding: 6px 6px;
  margin: 0px 4px;
  color: #999;
  font-size: 0.85rem;
}
#n_per,#datepicker input,.select2-filter,.form-control {
  border: 1px solid #777;
}
#pro {
  border: none;
  color: #333;
  font-weight: 700;
  text-align: end;
}
input.form-control:focus{
	box-shadow: none;
	border: 1.5px solid #E3E6ED;
	background-color: #F7F8FD;
	letter-spacing: 1px;
}
label {
  cursor: pointer;
}
.selected-page {
  color: red;
  font-style: bold;
}
#datepicker span {
margin: auto;
padding: 5px;
}

/* filter bar */
#filterbar {
  /* width: 70%;
  max-width: 300px; */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  float: left;
}
#filterbar .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  max-width: 50%;
}
#filterbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#filterbar .btn.btn-success.active {
  background-color: #16c79a;
  color: #fff;
}
.box {
  padding: 10px;
}
.box-label {
  color: #11698e;
  font-size: 0.9rem;
  font-weight: 800;
}

/*responsive*/
/* @media (max-width: 768px) {
  #filterbar {
    width: 70%;
    max-width: 220px;
  }
}
@media (max-width: 650px) {
  #filterbar {
    width: 70%;
    max-width: 150px;
    min-width: 130px;
  }
}
 */
