{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'resources/select2/select2.min.css' %}"/>
<script type="text/javascript" src="{% static 'resources/select2/select2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'resources/datepicker/datepicker.min.css' %}"/>
<script type="text/javascript" src="{% static 'resources/datepicker/datepicker.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/game_list.css' %}" />
<script type="text/javascript" src="{% static 'js/game_list.js' %}"></script>


<main class="container my-4">

<h3 class="my-4 border-bottom pb-1"><span class="text-muted">List of </span>Games</h3>

<div class="bg-white rounded d-flex flex-wrap mt-5" id="header"> 
	<div class="d-flex align-items-center">
		<button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn"> 
			<span class="fa fa-angle-left" id="filter-angle"></span> <span id="btn-txt">Hide filters</span> 
		</button>
	</div>
	<div class="d-flex align-items-center"> 
		<select name="sort" id="sort" onchange="goToPage(current);" value="{{ sort }}">
			{% for key,value in sort_choice.items %}
				<option value="{{ key }}">{{ value }}</option>
			{% endfor %}
		</select>
		<script> 
			$('#sort option[value="{{ sort }}"]').attr('selected','selected');
		</script>
	</div>
	<div class="d-inline-flex align-items-center">
		<div class="d-inline-flex" id="select-game">
			Games: <input type="number" name="n_per" id="pro" min="1" max="15" value="{{ n_per }}" onchange="goToPage(current);"/>
		</div>
		<div class="font-weight-bold mx-1">from {{ count }}</div>
	</div>
	<!--hidden field for page-->
	<div>
		<input type="hidden" value="{{ cur_page }}" id="django-page"/>
		<input type="hidden" value="{{ custom }}" id="django-custom"/>
	</div>
	<div class="ms-auto mr-2">
		<div id="page-collections" class="pagination d-flex align-items-center" value="{{ max_page }}">
			<div class="page-item" id="page-previous"> 
				<button class="page-link btn" type="button" aria-label="Previous"> <span aria-hidden="true" class="font-weight-bold">&lt;</span> <span class="sr-only">Previous</span> </button> 
			</div>
			<div class="page-item" id="page-next"> 
				<button class="page-link btn" type="button" aria-label="Next"> <span aria-hidden="true" class="font-weight-bold">&gt;</span> <span class="sr-only">Next</span> </button> 
			</div>
		</div>
	</div>	
</div>


<div id="content" class="d-flex align-items-start mx-0 my-5"/>
	<!--Filters start-->
	<div id="filterbar" class="collapse">
		<div class="box border-bottom">
			<div class="form-group text-center">
				<div class="btn-group d-flex flex-wrap"> 
					<button type="button" id="reset-button" class="btn btn-success form-check-label"> 
						Reset
					</button> 
					<button type="button" id="apply-button" class="btn btn-success form-check-label active"> 
						Apply
					</button> 
				</div>
			</div>
			{% comment %} <div> <label class="tick">New <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
			<div> <label class="tick">Sale <input type="checkbox"> <span class="check"></span> </label> </div> {% endcomment %}
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">DATE 
				<button class="btn" type="button" data-toggle="collapse" data-target="#rating-box" aria-expanded="false" aria-controls="price">
					<span class="fa fa-plus"></span>
				</button> 
			</div>
			<div id="rating-box" class="collapse">
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="input-sm form-control" name="start" id="datepicker-start"/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" id="datepicker-end"/>
				</div>
			</div>
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">GENRE 
				<button class="btn" type="button" data-toggle="collapse" data-target="#genre-box" aria-expanded="false" aria-controls="inner-box" id="out"> 
					<span class="fa fa-plus"></span> 
				</button> 
			</div>
			<div id="genre-box" class="collapse mt-2 mr-1">
				<select id="select2-genre" class="select2-class select2-filter" name="genres[]" multiple="multiple" style="width: 100%" value="genre">
				</select>
			</div>
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">PUBLISHER 
				<button class="btn" type="button" data-toggle="collapse" data-target="#publisher-box" aria-expanded="false" aria-controls="inner-box2">
					<span class="fa fa-plus"></span>
				</button>
			</div>
			<div id="publisher-box"  class="collapse mt-2 mr-1">
				<select id="select2-publisher" class="select2-class select2-filter" name="publishers[]" multiple="multiple" style="width: 100%" value="publisher">
				</select>
			</div>
		</div>
		<div class="box">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">PLATFORM 
				<button class="btn" type="button" data-toggle="collapse" data-target="#platform-box" aria-expanded="false" aria-controls="size">
					<span class="fa fa-plus"></span>
				</button> 
			</div>
			<div id="platform-box"  class="collapse mt-2 mr-1">
				<select id="select2-platform" class="select2-class select2-filter" name="platforms[]" multiple="multiple" style="width: 100%" value="platform">
				</select>
			</div>
		</div>
	</div>

	<!--Game card list-->
	<div class="row flex-grow-1 px-3">
		{% if data %}
		{% for item in data %}
			<div class="col-lg-4 col-md-6 pb-2">
				<div class="card d-flex flex-column align-items-center">
					<div class="product-name">{{ item.title }}</div>
					<div class="card-img "> <img src="/media/{{item.image}}" alt=""> </div>
					{% comment %} <div class="card-body pt-4">
						<div class="d-flex align-items-center price">
						<div class="del mr-2"><span class="text-dark">5500 uah</span></div>
						<div class="font-weight-bold">4500 uah</div>
						</div>
					</div> {% endcomment %}
				</div>
			</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
</main>
{% endblock %}