{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'resources/select2/select2.min.css' %}"/>
<script type="text/javascript" src="{% static 'resources/select2/select2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'resources/datepicker/datepicker.min.css' %}"/>
<script type="text/javascript" src="{% static 'resources/datepicker/datepicker.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />

<main class="container my-4">

<h3 class="my-4 border-bottom pb-1"><span class="text-muted">List of </span>Games</h3>

<div class="bg-white rounded d-flex flex-wrap mt-5" id="header"> 
	<div class="d-flex align-items-center">
		<button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn"> 
			<span class="fa fa-angle-left" id="filter-angle"></span> <span id="btn-txt">Hide filters</span> 
		</button>
	</div>
	<div class="d-flex align-items-center"> 
		<select name="sort" id="sort" onchange="goToPage(current);">
			{% for key,value in sort_choice.items %}
				{% if forloop.first %}
					<option value="{{ key }}" selected>{{ value }}</option>
				{% else %}
					<option value="{{ key }}">{{ value }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	<div class="d-inline-flex align-items-center">
		<div class="d-inline-flex" id="n_per">
			game: <input type="number" name="n_per" id="pro" min="1" max="15" value="9" onchange="goToPage(current);"/>
		</div>
	</div>
	<div id="page-section" class="ms-auto mr-2">

	</div>	
</div>


<div id="content" class="d-flex align-items-start mx-0 my-5"/>
	<!--Filters start-->
	<div id="filterbar" class="collapse w-25">
		<div class="box border-bottom">
			<div class="input-group">
				<input id="search-text" type="text" class="form-control">
				<div class="input-group-append"><button id="search-button" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
			</div>
		</div>
		<div class="box border-bottom">
			<div class="form-group text-center">
				<div class="btn-group d-flex flex-wrap"> 
					<button type="button" id="reset-button" class="btn btn-success form-check-label"> 
						Reset
					</button> 
					<button type="button" id="apply-button" class="btn btn-success form-check-label active"> 
						Apply
					</button> 
				</div>
			</div>
			{% comment %} <div> <label class="tick">New <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
			<div> <label class="tick">Sale <input type="checkbox"> <span class="check"></span> </label> </div> {% endcomment %}
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">DATE 
				<button class="btn" type="button" data-toggle="collapse" data-target="#rating-box" aria-expanded="false" aria-controls="price">
					<span class="fa fa-plus"></span>
				</button> 
			</div>
			<div id="rating-box" class="collapse">
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="input-sm form-control" name="start" id="datepicker-start"/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" id="datepicker-end"/>
				</div>
			</div>
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">GENRE 
				<button class="btn" type="button" data-toggle="collapse" data-target="#genre-box" aria-expanded="false" aria-controls="inner-box" id="out"> 
					<span class="fa fa-plus"></span> 
				</button> 
			</div>
			<div id="genre-box" class="collapse mt-2 mr-1">
				<select id="select2-genre" class="select2-class select2-filter" name="genres[]" multiple="multiple" style="width: 100%" value="genre">
				</select>
			</div>
		</div>
		<div class="box border-bottom">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">PUBLISHER 
				<button class="btn" type="button" data-toggle="collapse" data-target="#publisher-box" aria-expanded="false" aria-controls="inner-box2">
					<span class="fa fa-plus"></span>
				</button>
			</div>
			<div id="publisher-box"  class="collapse mt-2 mr-1">
				<select id="select2-publisher" class="select2-class select2-filter" name="publishers[]" multiple="multiple" style="width: 100%" value="publisher">
				</select>
			</div>
		</div>
		<div class="box">
			<div class="box-label text-uppercase d-flex align-items-center justify-content-between">PLATFORM 
				<button class="btn" type="button" data-toggle="collapse" data-target="#platform-box" aria-expanded="false" aria-controls="size">
					<span class="fa fa-plus"></span>
				</button> 
			</div>
			<div id="platform-box"  class="collapse mt-2 mr-1">
				<select id="select2-platform" class="select2-class select2-filter" name="platforms[]" multiple="multiple" style="width: 100%" value="platform">
				</select>
			</div>
		</div>
	</div>
	
	<!--Game card list-->
	<div class="px-3 flex-grow-1 w-75">
		<div id="loading-img" class="text-center" >
			<img src="/media/loading.gif" alt="Loading" style="width: 200px; height: 200px;">
		</div>
		<div id="card-section" class="row">

		</div>
	</div>
</div>
</main>

<script type="text/javascript">
	const init_paras_url = "{{ init_paras_url }}";
</script>
<script type="text/javascript" src="{% static 'js/game_list.js' %}"></script>
{% endblock %}