{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
<script type="text/javascript">const custom = "{{ custom }}";</script>
<script type="text/javascript" src="{% static 'js/list.js' %}"></script>
{% verbatim modal %}
<!-- Modal -->
<div class="modal" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-body movie-card-container d-flex" id="modal-container" style="word-break: break-word;">

		</div>
	</div>
</div>
</div>
{% endverbatim modal %}

<main class="container my-4">

<h3 class="my-4 border-bottom pb-1"><span class="text-muted">List of </span>{{ custom }}</h3>

<div class="bg-white rounded d-flex flex-wrap mt-5" id="header"> 
		<div class="d-flex align-items-center">
			<button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn"> 
				<span class="fa fa-angle-left" id="filter-angle"></span> <span id="btn-txt">Hide filters</span> 
			</button>
		</div>
		<div class="d-flex align-items-center"> 
			<select name="sort" id="sort" onchange="goToPage(current);">
				{% for key,value in sort_choice.items %}
					{% if forloop.first %}
						<option value="{{ key }}" selected>{{ value }}</option>
					{% else %}
						<option value="{{ key }}">{{ value }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="d-inline-flex align-items-center">
			<div class="d-inline-flex" id="n_per">
				{{ custom }}: <input style="width:100%;" type="number" name="n_per" id="pro" min="1" max="15" value="9" onchange="goToPage(current);"/>
			</div>
		</div>
		<div id="page-section" class="ms-auto mr-2">

		</div>	
</div>


<div id="content" class="d-flex align-items-start mx-0 my-5"/>
	<!--Filters start-->
	<div id="filterbar" class="collapse w-25">
		<div class="box border-bottom">
			<div class="input-group">
				<input id="search-text" type="text" class="form-control">
				<div class="input-group-append"><button id="search-button" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
			</div>
		</div>
		<div class="box">
			<div class="form-group text-center">
				<div class="btn-group d-flex flex-wrap"> 
					<button type="button" id="reset-button" class="btn btn-success form-check-label"> 
						Reset
					</button> 
					<button type="button" id="apply-button" class="btn btn-success form-check-label active"> 
						Apply
					</button> 
				</div>
			</div>
			{% comment %} <div> <label class="tick">New <input type="checkbox" checked="checked"> <span class="check"></span> </label> </div>
			<div> <label class="tick">Sale <input type="checkbox"> <span class="check"></span> </label> </div> {% endcomment %}
		</div>
	</div>

	<!--Custom card list-->
	<div class="px-3 flex-grow-1 w-75">
		<div id="loading-img" class="text-center">
			<img src="/media/loading.gif" alt="Loading" style="width: 200px; height: 200px;">
		</div>
		<div id="card-section" class="row">

		</span>
	</div>
</div>
</main>
{% endblock %}