<div class="star-rating">
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
    </ul>
    <script>
      star= Math.round(parseFloat("{{game.avg_rating}}")*2);
      for(var child=document.currentScript.previousElementSibling.firstChild.nextElementSibling; child!==null; child=child.nextElementSibling) {
        if (star>=2) {
          child.firstChild.className="fa fa-star";
          star -= 2;
        } else if (star==1) {
          child.firstChild.className="fa fa-star-half-o";
          star -= 1;
        }
      }
    </script>
  </div>
</div>